.loader {
  width: 30px;
  height: 30px;
  border: 5px solid var(--color-main);
  border-bottom-color: var(--color-white);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.insideBtn {
  width: 15px;
  height: 15px;
}

.loader.whiteColor {
  border: 5px solid var(--color-white);
  border-bottom-color: var(--color-main);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
